#Home {
    display: flex;
    height: 100vh;
    background-color: #0F1035;
}

#homeImage {
    display: inline-block;
    overflow: hidden;
    border-radius: 8%;

    position: absolute;
    top: 10px;
    left: 10px;
    margin: auto;
}

#fullStack {
    color: #15F5BA;
    font-size: 45px;

    position: absolute;
    top: 0;
    right: 475px;
    margin: auto;
}

#softwareEngineer {
    color: #74E291;
    font-size: 55px;

    position: absolute;
    top: 50px;
    right: 25px;
    margin: auto;
}

#sangeethSulochana {
    color: white;
    font-size: 90px;

    position: absolute;
    top: 80px;
    left: 550px;
    margin: auto;
}

#navBar {
    font-size: 25px;
    word-spacing: 25px;
    text-decoration-color: white;

    position: absolute;
    left: 20px;
    bottom: 25px;
    margin: auto;
}

#navBar nav a {
    color: white;
}