#Home {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: #0F1035;
}

/*For Laptop Large*/
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    #Home {
        background-color: grey;
    }
}

/*!*For Laptop *!*/
/*@media only screen and (min-width: 769px) and (max-width: 1024px) {*/
/*    #Home {*/
/*        background-color: grey;*/
/*    }*/
/*}*/

#homeImage {
    display: inline-block;
    overflow: hidden;
    border-radius: 8%;

    position: absolute;
    top: 48%;
    left: 18%;
    transform: translate(-50%, -50%);
}

#fullStack {
    color: #15F5BA;
    font-size: 45px;

    position: absolute;
    top: 12%;
    left: 54%;
    transform: translate(-50%, -50%);
}

#softwareEngineer {
    color: #74E291;
    font-size: 55px;

    position: absolute;
    top: 10%;
    left: 45%;
    margin: auto;
}

#sangeethSulochana {
    color: white;
    font-size: 90px;

    position: absolute;
    top: 58%;
    left: 64%;
    transform: translate(-50%, -50%);
}

#navBar {
    font-size: 25px;
    word-spacing: 25px;
    text-decoration-color: white;

    position: absolute;
    left: 20px;
    bottom: 25px;
    margin: auto;
}

#navBar nav a {
    font-family: "Bitstream Charter";
    color: white;
}

/* For Laptop Large */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    #homeImage {
        height: 480px;
        width: 380px;

        position: absolute;
        top: 43%;
        left: 16%;
        transform: translate(-50%, -50%);
    }

    #fullStack {
        font-size: 40px;
    }

    #softwareEngineer {
        font-size: 45px;
    }

    #sangeethSulochana {
        font-size: 80px;
    }

    #navBar {
        font-size: 20px;
    }
}

/* For Laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #homeImage {
        height: 400px;
        width: 280px;

        position: absolute;
        top: 35%;
        left: 16%;
        transform: translate(-50%, -50%);
    }

    #fullStack {
        font-size: 35px;
        width: 500px;
        top: 8%;
        left: 70%;
    }

    #softwareEngineer {
        font-size: 38px;
        width: 480px;
        top: 8%;
        left: 42%;
    }

    #sangeethSulochana {
        font-size: 50px;
        left: 65%;
    }

    #navBar {
        font-size: 20px;
    }
}

/*------------------------------------------------About Section-------------------------------------------------------*/

#About {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #1B1A55;
}

#welcome {
    color: white;

    position: absolute;
    left: 10px;
    margin: auto;
}

#note {
    color: #EFF396;
    font-size: 25px;

    position: relative;
    top: -38%;
    left: -31%;
    margin: auto;
}

#paragraph {
    color: white;
    font-size: 20px;
    width: 800px;

    position: absolute;
    top: 840px;
    left: 10px;
    margin: auto;
}

#languages {
    color: white;
    font-size: 25px;

    position: absolute;
    top: 1000px;
    left: 10px;
    margin: auto;
}

#languagesImages {
    position: absolute;
    top: 1100px;
    left: 10px;
    margin: auto;
}

#sulochana {
    display: inline-block;
    overflow: hidden;
    border-radius: 8%;

    position: absolute;
    top: 750px;
    right: 20px;
    margin: auto;
}

#aboutMe {
    color: white;
    font-family: Arial;
    font-size: 20px;

    position: absolute;
    top: 1350px;
    right: 120px;
    margin: auto;
}

#Project {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #0F1035;
    opacity: 0.85;
    position: relative;
}