#Home {
    display: flex;
    height: 720px;
    background-color: #0F1035;
}

#homeImage {
    display: inline-block;
}

#fullStack {
    color: #15F5BA;
    font-size: 50px;

    position: absolute;
    top: 25px;
    right: 450px;
    margin: auto;
}

#softwareEngineer {
    color: #74E291;
    font-size: 75px;

    position: absolute;
    top: 50px;
    right: 25px;
    margin: auto;
}

#sangeethSulochana {
    color: white;
    font-size: 100px;

    position: absolute;
    top: 100px;
    left: 520px;
    margin: auto;
}